/*
 * @Description: 主体
 * @Author: 林俊丞
 * @Date: 2021-04-16 22:45:48
 * @LastEditTime: 2021-04-22 00:53:32
 * @LastEditors: 林俊丞
 */
.mainPage {
    position: relative;
    width: 960px;
    margin: 117px auto 0px;
}